$REM: 18;
$w-tablet: 768px;

$colors: (
  galactic-blue: #755cde,
  summer-yellow: #f6a560,
  pink: #f39e9e,
  light-red: #eb7565,
  cyan: #61c4b7,
  dark-purple: #552042,
  black: #030303,
  medium-brown: #7a746e,
  light-cream: #fff7f0,
);

$font-plus-jakarta: "Plus Jakarta Sans", sans-serif;
