:root {
  font-size: 1.125em;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Plus Jakarta Sans", sans-serif;
  background-color: #fff7f0;
  padding: 0.8888888889rem 0 1.7777777778rem;
}
@media (min-width: 768px) {
  body {
    padding: 1.8888888889rem 0 3.1111111111rem;
  }
}
@media (min-width: 1440px) {
  body {
    padding: 1.8888888889rem 0 3.5555555556rem;
  }
}

.header,
.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-inline: 0.8888888889rem;
}
@media (min-width: 768px) {
  .header,
.footer {
    margin-inline: 2.2222222222rem;
  }
}
@media (min-width: 1440px) {
  .header,
.footer {
    margin-inline: 9.1666666667rem;
  }
}

.header {
  margin-bottom: 1.7777777778rem;
}
@media (min-width: 768px) {
  .header {
    margin-bottom: 3.5555555556rem;
  }
}
@media (min-width: 1440px) {
  .header {
    margin-bottom: 3.6666666667rem;
  }
}

.logo {
  width: 2.6666666667rem;
  height: 2.6666666667rem;
}
@media (min-width: 768px) {
  .logo {
    width: 3.5555555556rem;
    height: 3.5555555556rem;
  }
}

.button {
  font-size: 0.7777777778rem;
  line-height: 2;
  font-weight: 700;
  background-color: #030303;
  color: #fff7f0;
  padding: 0.5714285714em 1.9285714286em;
  border: 0;
  border-radius: 28px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}
.button:hover, .button:focus {
  background-color: #755cde;
  outline: none;
}
@media (min-width: 768px) {
  .button {
    font-size: 0.8888888889rem;
    line-height: 1.75;
    font-weight: 700;
    padding: 0.875em 2.8125em;
  }
}

.button--light-red {
  background-color: #eb7565;
}
.button--light-red:hover, .button--light-red:focus {
  background-color: #f6a560;
}

.section-top {
  text-align: center;
  margin-inline: 0.8888888889rem;
  margin-bottom: 1.7777777778rem;
}
@media (min-width: 768px) {
  .section-top {
    margin-inline: 2.1666666667rem;
    margin-bottom: 3.5555555556rem;
  }
}
@media (min-width: 1440px) {
  .section-top {
    margin-inline: 19.1111111111rem;
    margin-bottom: 4.4444444444rem;
  }
}

.section-top__heading {
  font-size: 2rem;
  line-height: 1.25;
  font-weight: 700;
  margin-bottom: 0.4444444444em;
  color: #030303;
}
@media (min-width: 768px) {
  .section-top__heading {
    font-size: 2.4444444444rem;
    line-height: 1.25;
    font-weight: 700;
    margin-bottom: 0.6136363636em;
  }
}
@media (min-width: 1440px) {
  .section-top__heading {
    font-size: 3.1111111111rem;
    line-height: 1.2678571429;
    font-weight: 700;
    margin-bottom: 0.4107142857em;
  }
}

.section-top__paragraph {
  font-size: 0.8888888889rem;
  line-height: 1.625;
  font-weight: 500;
  color: #7a746e;
  margin-inline: 1.6111111111rem;
}
@media (min-width: 768px) {
  .section-top__paragraph {
    font-size: 1rem;
    line-height: 1.5555555556;
    font-weight: 500;
    margin-inline: 3.25rem;
  }
}
@media (min-width: 1440px) {
  .section-top__paragraph {
    margin-inline: 0.6111111111rem;
  }
}

.competencies {
  margin-inline: 0.8888888889rem;
  margin-bottom: 5.5555555556rem;
  display: grid;
  grid-template: repeat(5, min-content)/repeat(2, 1fr);
  grid-template-areas: "graphic-design graphic-design" "ui-ux apps" "illustrations illustrations" "photography photography" "motion-graphics motion-graphics";
  gap: 25px 24px;
}
@media (min-width: 768px) {
  .competencies {
    margin-inline: 2.1666666667rem;
    margin-bottom: 6.6666666667rem;
    grid-template: repeat(3, min-content)/2fr 1fr 1fr;
    grid-template-areas: "graphic-design ui-ux apps" "graphic-design illustrations illustrations" "photography motion-graphics motion-graphics";
    gap: 24px;
  }
}
@media (min-width: 1440px) {
  .competencies {
    margin-inline: 9.1666666667rem;
    margin-bottom: 7.5555555556rem;
  }
}

.competencies__motion-graphics, .competencies__photography, .competencies__illustrations, .competencies__apps, .competencies__ui-ux, .competencies__graphic-design {
  width: 100%;
  background-repeat: no-repeat;
  background-position: top 1.3333333333rem right 1.3333333333rem;
  color: white;
  font-size: 1.3333333333rem;
  line-height: 1.25;
  font-weight: 700;
  border-radius: 8px;
  position: relative;
}
.competencies__motion-graphics p, .competencies__photography p, .competencies__illustrations p, .competencies__apps p, .competencies__ui-ux p, .competencies__graphic-design p {
  position: absolute;
  bottom: 1.3333333333rem;
  left: 1.3333333333rem;
}

.competencies__graphic-design {
  grid-area: graphic-design;
  height: 20.2222222222rem;
  background-image: url("../assets/pattern-graphic-design.svg");
  background-color: #755cde;
}

.competencies__ui-ux {
  grid-area: ui-ux;
  height: 10.1111111111rem;
  background-image: url("../assets/pattern-ui-ux.svg");
  background-color: #f6a560;
}

.competencies__apps {
  grid-area: apps;
  height: 10.1111111111rem;
  background-image: url("../assets/pattern-apps.svg");
  background-color: #f39e9e;
}

.competencies__illustrations {
  grid-area: illustrations;
  height: 8.7777777778rem;
  background-image: url("../assets/pattern-illustrations.svg");
  background-color: #eb7565;
}

.competencies__photography {
  grid-area: photography;
  height: 10.1111111111rem;
  background-image: url("../assets/pattern-photography.svg");
  background-color: #61c4b7;
}

.competencies__motion-graphics {
  grid-area: motion-graphics;
  height: 10.1111111111rem;
  background-image: url("../assets/pattern-motion-graphics.svg");
  background-color: #552042;
}

.about-me {
  text-align: center;
  margin-inline: 0.8888888889rem;
  margin-bottom: 5.5555555556rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.2222222222rem;
}
@media (min-width: 768px) {
  .about-me {
    margin: 0 2.2222222222rem 6.6666666667rem 0;
    text-align: left;
    flex-direction: row;
    gap: 1.3888888889rem;
  }
}
@media (min-width: 1440px) {
  .about-me {
    margin: 0 9.1666666667rem 4.8888888889rem;
    gap: 6.9444444444rem;
  }
}

.profile-pic {
  width: 16.6666666667rem;
  height: 16.6666666667rem;
}
@media (min-width: 768px) {
  .profile-pic {
    width: 20.2222222222rem;
    height: 20.2222222222rem;
    transform: translateX(-44px);
  }
}
@media (min-width: 1440px) {
  .profile-pic {
    width: 24.7222222222rem;
    height: 24.7222222222rem;
    transform: none;
  }
}

.about-me__heading {
  font-size: 1.4444444444rem;
  line-height: 1.2692307692;
  font-weight: 700;
  color: #030303;
  margin-bottom: 0.9230769231em;
}
@media (min-width: 768px) {
  .about-me__heading {
    font-size: 1.7777777778rem;
    line-height: 1.25;
    margin-bottom: 0.75em;
  }
}
@media (min-width: 1440px) {
  .about-me__heading {
    font-size: 2.2222222222rem;
    line-height: 1.25;
    margin-bottom: 0.85em;
  }
}

.about-me__paragraph {
  font-size: 0.8888888889rem;
  line-height: 1.625;
  font-weight: 500;
  color: #7a746e;
  margin-bottom: 1.5em;
}
@media (min-width: 768px) {
  .about-me__paragraph {
    font-size: 1rem;
    line-height: 1.5555555556;
    margin-bottom: 1.3333333333em;
  }
}
@media (min-width: 1440px) {
  .about-me__paragraph {
    margin-bottom: 1.7777777778em;
  }
}

.works {
  margin-bottom: 5.5555555556rem;
}
@media (min-width: 768px) {
  .works {
    margin-bottom: 6.6666666667rem;
  }
}
@media (min-width: 1440px) {
  .works {
    margin-bottom: 4.8888888889rem;
  }
}

.works__heading {
  font-size: 1.3333333333rem;
  line-height: 1.25;
  font-weight: 700;
  margin-bottom: 1.3333333333em;
  text-align: center;
}
@media (min-width: 768px) {
  .works__heading {
    font-size: 1.7777777778rem;
    line-height: 1.25;
    margin-bottom: 1.75em;
  }
}

.carousel {
  overflow-x: auto;
  margin-bottom: 1.7777777778rem;
  scrollbar-width: none;
}
.carousel:focus {
  outline: 5px dotted #755cde;
  outline-offset: 2px;
}
.carousel::-webkit-scrollbar {
  display: none;
}
@media (min-width: 768px) {
  .carousel {
    margin-bottom: 3.1111111111rem;
  }
}

.carousel__content {
  height: 180px;
  width: min-content;
  font-size: 0;
  display: flex;
  gap: 15px;
}
.carousel__content img {
  width: 270px;
  border-radius: 10px;
}
@media (min-width: 768px) {
  .carousel__content {
    height: 360px;
    gap: 30px;
  }
  .carousel__content img {
    width: 540px;
  }
}

.carousel__controls {
  display: flex;
  justify-content: center;
  gap: 0.8888888889rem;
}

.controls__arrow {
  width: 3.5555555556rem;
  height: 3.5555555556rem;
  background-color: #030303;
  border-radius: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.2s ease;
}
.controls__arrow:hover, .controls__arrow:focus {
  background-color: #755cde;
  outline: none;
}
.controls__arrow:active {
  background-color: #030303;
}
.controls__arrow img {
  width: 0.8333333333rem;
  height: 0.8888888889rem;
}

.call-me {
  background-color: #030303;
  color: #fff7f0;
  margin-inline: 0.8888888889rem;
  border-radius: 10px;
  padding: 2.6666666667rem 1.3333333333rem;
  text-align: center;
  margin-bottom: 2.2222222222rem;
  display: flex;
  flex-direction: column;
  gap: 1.3333333333rem;
}
@media (min-width: 768px) {
  .call-me {
    margin-inline: 2.1666666667rem;
    padding: 3.1111111111rem 4.1666666667rem 3.5555555556rem;
    margin-bottom: 3.1111111111rem;
    gap: 1.4444444444rem;
  }
}
@media (min-width: 1440px) {
  .call-me {
    margin-inline: 9.1666666667rem;
    padding: 4.5rem 5.2777777778rem 4.4444444444rem 3.6111111111rem;
    flex-direction: row;
    gap: 10.1111111111rem;
    align-items: center;
  }
}

.call-me__heading {
  font-size: 1.4444444444rem;
  line-height: 1.2692307692;
  font-weight: 700;
  margin-bottom: 0.9230769231em;
}
@media (min-width: 768px) {
  .call-me__heading {
    font-size: 1.7777777778rem;
    line-height: 1.25;
    margin-bottom: 0.8125em;
  }
}
@media (min-width: 1440px) {
  .call-me__heading {
    font-size: 2.2222222222rem;
    line-height: 1.25;
    margin-bottom: 0.625em;
  }
}

.call-me__paragraph {
  font-size: 0.8888888889rem;
  line-height: 1.625;
  font-weight: 500;
}
@media (min-width: 768px) {
  .call-me__paragraph {
    font-size: 1rem;
    line-height: 1.5555555556;
    font-weight: 500;
  }
}

/*# sourceMappingURL=style.css.map */
