@use "./utilities/global" as *;

@include setup;

body {
  font-family: $font-plus-jakarta;
  background-color: color(light-cream);
  padding: max(rem(16px), lerp(375px, rem(16px), $w-tablet, rem(34px))) 0
    max(rem(32px), lerp(375px, rem(32px), $w-tablet, rem(56px)));
  @media (min-width: $w-tablet) {
    padding: rem(34px) 0
      min(rem(64px), lerp($w-tablet, rem(56px), $w-desktop, rem(64px)));
  }
}

.header,
.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-inline: max(rem(16px), lerp(375px, rem(16px), $w-tablet, rem(40px)));
  @media (min-width: $w-tablet) {
    margin-inline: min(
      rem(165px),
      lerp($w-tablet, rem(40px), $w-desktop, rem(165px))
    );
  }
}

.header {
  margin-bottom: max(rem(32px), lerp(375px, rem(32px), $w-tablet, rem(64px)));
  @media (min-width: $w-tablet) {
    margin-bottom: min(
      rem(66px),
      lerp($w-tablet, rem(64px), $w-desktop, rem(66px))
    );
  }
}

.logo {
  width: clamp(
    rem(48px),
    lerp(375px, rem(48px), $w-tablet, rem(64px)),
    rem(64px)
  );
  height: clamp(
    rem(48px),
    lerp(375px, rem(48px), $w-tablet, rem(64px)),
    rem(64px)
  );
}

.button {
  font-size: clamp(
    rem(14px),
    lerp(375px, rem(14px), $w-tablet, rem(16px)),
    rem(16px)
  );
  line-height: 28px;
  font-weight: 700;
  background-color: color(black);
  color: color(light-cream);
  padding: clamp(
      rem(8px),
      lerp(375px, rem(8px), $w-tablet, rem(14px)),
      rem(14px)
    )
    clamp(rem(27px), lerp(375px, rem(27px), $w-tablet, rem(45px)), rem(45px));
  border: 0;
  border-radius: 28px;
  cursor: pointer;
  transition: background-color 0.2s ease;
  align-self: center;
  &:hover,
  &:focus {
    background-color: color(galactic-blue);
    outline: none;
  }
}

.button--light-red {
  background-color: color(light-red);
  &:hover,
  &:focus {
    background-color: color(summer-yellow);
  }
}

.section-top {
  text-align: center;
  margin-inline: max(rem(16px), lerp(375px, rem(16px), $w-tablet, rem(39px)));
  margin-bottom: max(rem(32px), lerp(375px, rem(32px), $w-tablet, rem(64px)));
  @media (min-width: $w-tablet) {
    margin-inline: min(
      rem(344px),
      lerp($w-tablet, rem(39px), $w-desktop, rem(344px))
    );
    margin-bottom: min(
      rem(80px),
      lerp($w-tablet, rem(64px), $w-desktop, rem(80px))
    );
  }
}

.section-top__heading {
  font-size: max(rem(36px), lerp(375px, rem(36px), $w-tablet, rem(44px)));
  line-height: max(45px, lerp(375px, 45px, $w-tablet, 55px));
  font-weight: 700;
  margin-bottom: max(rem(16px), lerp(375px, rem(16px), $w-tablet, rem(27px)));
  color: color(black);
  @media (min-width: $w-tablet) {
    font-size: min(
      rem(56px),
      lerp($w-tablet, rem(44px), $w-desktop, rem(56px))
    );
    line-height: min(71px, lerp($w-tablet, 55px, $w-desktop, 71px));
    margin-bottom: max(
      rem(23px),
      lerp($w-tablet, rem(27px), $w-desktop, rem(23px))
    );
  }
}

.section-top__paragraph {
  font-size: clamp(
    rem(16px),
    lerp(375px, rem(16px), $w-tablet, rem(18px)),
    rem(18px)
  );
  line-height: clamp(26px, lerp(375px, 26px, $w-tablet, 28px), 28px);
  font-weight: 500;
  color: color(medium-brown);
  margin-inline: max(rem(29px), lerp(375px, rem(29px), $w-tablet, rem(58.5px)));
  @media (min-width: $w-tablet) {
    margin-inline: max(
      11px,
      lerp($w-tablet, rem(58.5px), $w-desktop, rem(11px))
    );
  }
}

.competencies {
  margin-inline: max(rem(16px), lerp(375px, rem(16px), $w-tablet, rem(39px)));
  margin-bottom: max(
    rem(100px),
    lerp(375px, rem(100px), $w-tablet, rem(120px))
  );
  display: grid;
  grid-template: repeat(5, min-content) / repeat(2, 1fr);
  grid-template-areas:
    "graphic-design graphic-design"
    "ui-ux apps"
    "illustrations illustrations"
    "photography photography"
    "motion-graphics motion-graphics";
  gap: 24px;
  @media (min-width: 550px) {
    grid-template: repeat(3, min-content) / 2fr 1fr 1fr;
    grid-template-areas:
      "graphic-design ui-ux apps"
      "graphic-design illustrations illustrations"
      "photography motion-graphics motion-graphics";
  }
  @media (min-width: $w-tablet) {
    margin-inline: min(
      rem(165px),
      lerp($w-tablet, rem(39px), $w-desktop, rem(165px))
    );
    margin-bottom: min(
      rem(136px),
      lerp($w-tablet, rem(120px), $w-desktop, rem(136px))
    );
  }
}

$grid-areas: (
  graphic-design color(galactic-blue) rem(364px),
  ui-ux color(summer-yellow) rem(182px),
  apps color(pink) rem(182px),
  illustrations color(light-red) rem(158px),
  photography color(cyan) rem(182px),
  motion-graphics color(dark-purple) rem(182px)
);

%grid-item {
  width: 100%;
  background: {
    repeat: no-repeat;
    position: top rem(24px) right rem(24px);
  }
  color: white;
  @include setFont(rem(24px), 30px, 700);
  border-radius: 8px;
  position: relative;
  p {
    position: absolute;
    bottom: rem(24px);
    left: rem(24px);
  }
}

@each $area, $color, $height in $grid-areas {
  .competencies__#{$area} {
    @extend %grid-item;
    grid-area: $area;
    height: $height;
    background: {
      image: url("../assets/pattern-#{$area}.svg");
      color: $color;
    }
  }
}

.about-me {
  text-align: center;
  margin-inline: max(rem(16px), lerp(375px, rem(16px), $w-tablet, rem(40px)));
  margin-bottom: max(
    rem(100px),
    lerp(375px, rem(100px), $w-tablet, rem(120px))
  );
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: rem(40px);
  @media (min-width: $w-tablet) {
    margin-left: max(0px, lerp($w-tablet, 0rem, $w-desktop, rem(165px)));
    margin-right: max(
      rem(40px),
      lerp($w-tablet, rem(40px), $w-desktop, rem(165px))
    );
    margin-bottom: min(
      rem(88px),
      lerp($w-tablet, rem(120px), $w-desktop, rem(88px))
    );
    text-align: left;
    flex-direction: row;
    gap: max(rem(25px), lerp($w-tablet, rem(25px), $w-desktop, rem(125px)));
  }
}

.profile-pic {
  width: max(rem(300px), lerp(375px, rem(300px), $w-tablet, rem(364px)));
  height: max(rem(300px), lerp(375px, rem(300px), $w-tablet, rem(364px)));
  @media (min-width: $w-tablet) {
    width: min(rem(445px), lerp($w-tablet, rem(364px), $w-desktop, rem(445px)));
    height: min(
      rem(445px),
      lerp($w-tablet, rem(364px), $w-desktop, rem(445px))
    );
    transform: translateX(lerp($w-tablet, -44px, $w-desktop, 0px));
  }
  @media (min-width: $w-desktop) {
    transform: none;
  }
}

.about-me__heading {
  font-size: max(rem(26px), lerp(375px, rem(26px), $w-tablet, rem(32px)));
  line-height: max(33px, lerp(375px, 33px, $w-tablet, 40px));
  color: color(black);
  margin-bottom: rem(24px);
  @media (min-width: $w-tablet) {
    font-size: min(
      rem(40px),
      lerp($w-tablet, rem(32px), $w-desktop, rem(40px))
    );
    line-height: min(50px, lerp($w-tablet, 40px, $w-desktop, 50px));
    margin-bottom: min(
      rem(34px),
      lerp($w-tablet, rem(24px), $w-desktop, rem(40px))
    );
  }
}

.about-me__paragraph {
  font-size: clamp(
    rem(16px),
    lerp(375px, rem(16px), $w-tablet, rem(18px)),
    rem(18px)
  );
  line-height: clamp(26px, lerp(375px, 26px, $w-tablet, 28px), 28px);
  font-weight: 500;
  color: color(medium-brown);
  margin-bottom: rem(24px);
  @media (min-width: $w-tablet) {
    margin-bottom: min(
      rem(32px),
      lerp($w-tablet, rem(24px), $w-desktop, rem(32px))
    );
  }
}

.works {
  margin-bottom: max(
    rem(100px),
    lerp(375px, rem(100px), $w-tablet, rem(120px))
  );
  @media (min-width: $w-tablet) {
    margin-bottom: max(
      rem(88px),
      lerp($w-tablet, rem(120px), $w-desktop, rem(88px))
    );
  }
}

.works__heading {
  font-size: clamp(
    rem(24px),
    lerp(375px, rem(24px), $w-tablet, rem(32px)),
    rem(32px)
  );
  line-height: clamp(30px, lerp(375px, 30px, $w-tablet, 40px), 40px);
  font-weight: 700;
  margin-bottom: clamp(
    rem(32px),
    lerp(375px, rem(32px), $w-tablet, rem(56px)),
    rem(56px)
  );
  text-align: center;
}

.carousel {
  overflow-x: auto;
  margin-bottom: clamp(
    rem(32px),
    lerp(375px, rem(32px), $w-tablet, rem(56px)),
    rem(56px)
  );
  scrollbar-width: none;
  &:focus {
    outline: 5px dotted color(galactic-blue);
    outline-offset: 2px;
  }
  &::-webkit-scrollbar {
    display: none;
  }
}

.carousel__content {
  height: clamp(180px, lerp(375px, 180px, $w-tablet, 360px), 360px);
  width: min-content;
  font-size: 0;
  display: flex;
  gap: clamp(15px, lerp(375px, 15px, $w-tablet, 30px), 30px);
  img {
    width: clamp(270px, lerp(375px, 270px, $w-tablet, 540px), 540px);
    border-radius: 10px;
  }
}

.carousel__controls {
  display: flex;
  justify-content: center;
  gap: rem(16px);
}

.controls__arrow {
  width: rem(64px);
  height: rem(64px);
  background-color: color(black);
  border-radius: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.2s ease;
  &:hover,
  &:focus {
    background-color: color(galactic-blue);
    outline: none;
  }
  &:active {
    background-color: color(black);
  }
  img {
    width: rem(15px);
    height: rem(16px);
  }
}

.call-me {
  background-color: color(black);
  color: color(light-cream);
  margin-inline: max(rem(16px), lerp(375px, rem(16px), $w-tablet, rem(39px)));
  border-radius: 10px;
  padding-top: clamp(
    rem(48px),
    lerp(375px, rem(48px), $w-tablet, rem(56px)),
    rem(56px)
  );
  padding-inline: clamp(
    rem(24px),
    lerp(375px, rem(24px), $w-tablet, rem(75px)),
    rem(75px)
  );
  padding-bottom: clamp(
    rem(48px),
    lerp(375px, rem(48px), $w-tablet, rem(64px)),
    rem(64px)
  );
  text-align: center;
  margin-bottom: clamp(
    rem(40px),
    lerp(375px, rem(40px), $w-tablet, rem(56px)),
    rem(56px)
  );
  display: flex;
  flex-direction: column;
  gap: clamp(
    rem(24px),
    lerp(375px, rem(24px), $w-tablet, rem(26px)),
    rem(26px)
  );
  @media (min-width: $w-tablet) {
    margin-inline: min(
      rem(165px),
      lerp($w-tablet, rem(39px), $w-desktop, rem(165px))
    );
  }
  @media (min-width: 1300px) {
    padding: rem(81px) rem(95px) rem(80px) rem(65px);
    flex-direction: row;
    gap: rem(182px);
    align-items: center;
    text-align: left;
  }
}

.call-me__heading {
  font-size: max(rem(26px), lerp(375px, rem(26px), $w-tablet, rem(32px)));
  line-height: max(33px, lerp(375px, 33px, $w-tablet, 40px));
  font-weight: 700;
  margin-bottom: max(rem(24px), lerp(375px, rem(24px), $w-tablet, rem(26px)));
  @media (min-width: $w-tablet) {
    font-size: min(
      rem(40px),
      lerp($w-tablet, rem(32px), $w-desktop, rem(40px))
    );
    line-height: min(50px, lerp($w-tablet, 40px, $w-desktop, 50px));
    margin-bottom: max(
      rem(25px),
      lerp($w-tablet, rem(26px), $w-desktop, rem(25px))
    );
  }
}

.call-me__paragraph {
  font-size: clamp(
    rem(16px),
    lerp(375px, rem(16px), $w-tablet, rem(18px)),
    rem(18px)
  );
  line-height: clamp(26px, lerp(375px, 26px, $w-tablet, 28px), 28px);
  font-weight: 500;
}
